{% extends "templates/web.html" %}

{% block head_include %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block title %}{{ _('Wishlist') }}{% endblock %}
{% block header %}
<h1>{{ _('Wishlist') }}</h1>
{% endblock header %}

{% block page_content %}
{% if not wishlist_items %}
<p class="text-muted">{{ _('Your Wishlist is Empty') }}</p>
{% else %}
{% for item in wishlist_items %}
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-3">
            <div class="card-body">
                <a class="no-underline" href="/{{ item.item_route }}">
                    <img class="website-image" src="{{ item.item_website_image or item.item_image or 'no-image.jpg' }}"
                        alt="{{ item.item_name }}">
                </a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    <a class="text-dark" href="/{{ item.item_route }}">
                        {{ item.item_name or item.name }}
                    </a>
                    {% if item.item_code %}
                    <div class="wishlist-icon" onclick="toggle_wishlist_item('{{ item.item_code }}')"
                        id="{{ item.item_code }}">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    {% endif %}
                </h5>
                <p class="card-text">
                    Item Code: {{ item.item_code }}
                    <br/>
                    {{
                    item.item_website_description or
                    item.item_description or
                    '<i class="text-muted">No description</i>'
                    }}
                </p>

                <a href="/{{ item.route }}" class="btn btn-sm btn-light">{{ _('More details') }}</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<script>
    function toggle_wishlist_item(itemCode) {
        const iconContainer = document.getElementById(itemCode);

        frappe.call({
            method: "dedicare.dedicare.doctype.wishlist.wishlist.toggle_wishlist_item",
            args: {
                item: itemCode,
            },
            callback: (r) => {
                if (r.message) {
                    if (r.message.action === "removed") {
                        update_local_storage(itemCode, false);

                        const cardElement = iconContainer.closest(".card");
                        if (cardElement) {
                            cardElement.remove();
                        }

                        if (document.querySelectorAll(".card").length === 0) {
                            const emptyMessage = document.createElement("p");
                            emptyMessage.className = "text-muted";
                            emptyMessage.textContent = "Your Wishlist is Empty";
                            document.querySelector(".page_content").appendChild(emptyMessage);
                        }
                    }
                }
            },
        });
    }

    function update_local_storage(item_code, update) {
        let wishlist = localStorage.getItem('wishlist');
        wishlist = JSON.parse(localStorage.getItem('wishlist') || '[]');

        if (update) {
            if (!wishlist.includes(item_code)) {
                wishlist.push(item_code);
            }
        } else {
            wishlist = wishlist.filter(x => x !== item_code);
        }
        localStorage.setItem('wishlist', JSON.stringify(wishlist));
    }
</script>
{% endblock %}